.horizontal{
    float: left;
    list-style:none;
    margin: 10px;
}
.sub-level{
    background-color: #999;
}

a{
    color : #ooc;
}

a.mailto{
    background: url(images/mail.png) no-repeat right top;
    padding-right: 18px;
}

a.pdflink{
    background: url(images/pdf.png) no-repeat right top;
    padding-right: 18px;
}

a.henrylink{
    background-color: #fff;
    padding: 2px;
    border:1px solid #000;
}